include bento_variant_service/beacon/schemas/beacon_allele_request.schema.json
include bento_variant_service/package.cfg
include bento_variant_service/workflows/bento_workflows.json
include bento_variant_service/workflows/vcf.wdl
include bento_variant_service/workflows/vcf_gz.wdl
